html,body{
  overflow-x: hidden;
}

.header{
    overflow: hidden;
    background-color:#dbdfe9;
    border-radius: 5px;
    padding: 20px 10px;
}

.header a {
    float: left;
    color:darkblue;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #1f9bee;
    border-radius: 5px;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active_nav {
    background-color: #1f9bee;
    border-radius: 5px;
    color: white;
  }

    /* Style the active/current link*/
.header a.active_nav:hover {
    background-color: #ddd;
    border-radius: 5px;
    color: black;
    }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


.body {
  background-color: #97D2FB;
  border-radius: 5px;
  font-family: 'Courier New', monospace;
  }

  .body p {
      padding: 5px 5px;
  }

  .chart {
      display: block;
      width: 90%;
      height: auto;
      margin: 0 auto;
      border-radius: 5px;
      padding-bottom: 10px;
      
  }

  @media screen and (min-width: 1000px) {
    .chart {
        display:flex; 
        justify-content: space-evenly;
        height: auto;
        margin: 0 auto;
        border-radius: 5px;
        float:center; 
        padding-bottom: 10px;
        
    }
  }

/*Main page*/
a{
    text-decoration: none;
}

/*To have a grid with 3 columns*/
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}


.img-text-wrapper:hover .subtitle {
  color: darkblue;
  font-weight: 800;
}

/* To add a space between the text and the images */
.logo-wrapper img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  max-height: 100px;
  max-width: 100px
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper h1 {
  color:darkblue;
}