@page
@model AboutModel
@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>
<html>

<body>
  <div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="card" style="d-flex justify-content-center">
        <h5 class="card-header">Thanks for visiting COVID Watch!</h5>
        <div class="card-body">
          <h5 class="card-title">A little about us...</h5>
          <p class="card-text">Our website was found on March 10, 2020 to help people better response to COVID-19.We
            believe it is critical to keep everyone informed during this challenging time. We are committed to support
            family, friends and the uOttawa community to stay healthy.We want to create an accessible platform for our
            students and general public with informative and educational news.</p>
          <p class="card-text">We deliver and inform people of the symptons of COVID-19. We teach them how to protect
            themselves from being infected.</p>
          <h5 class="card-title">Our mission:</h5>
          <p class="card-text">To share the latest news about COVID-19, educate public about healthy and safty protcols
            and reduce the spread of the virus.</p>
          <p class="card-text">We provide the current news on the pandemic in Canada and around the globe. In addition,
            we closely monitor our data to ensure it's accurate and valid. We have developped newletters and regular
            updates to our users on the most recent update on status, travelling regulations, HealthCanada announcement
            and research regarding to this matter.</p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="card" style="margin-left: 5px; margin-right: 5px;">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="margin-left: 5px; margin-right: 5px;">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="card" style="margin-left: 5px; margin-right: 5px;">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="margin-left: 5px; margin-right: 5px;">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="card" style="margin-left: 5px; margin-right: 5px;">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="margin-left: 5px; margin-right: 5px;">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>