@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-03JP1WSP3N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-03JP1WSP3N');
</script>
<h1>@ViewData["Title"]</h1>
<html>
<script type="text/javascript">
$(document).ready(function() {
  $('#mailbutton_mitch').click(function(event) {
    window.location = "mailto:mbate052@uottawa.ca";
  });
  $('#mailbutton_xiola').click(function(event) {
    window.location = "mailto:xbosw051@uottawa.ca";
  });
  $('#mailbutton_romane').click(function(event) {
    window.location = "mailto:rleri026@uottawa.ca";
  });
  $('#mailbutton_chloe').click(function(event) {
    window.location = "mailto:span063@uottawa.ca";
  });
  $('#mailbutton_henry').click(function(event) {
    window.location = "mailto:htadj034@uottawa.ca";
  });
  $('#mailbutton_ruijia').click(function(event) {
    window.location = "mailto:rma013@uottawa.ca";
  });
});
</script>
<body>
  <div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="card border-secondary" style="background-color: var(--background-color); d-flex justify-content-center">
          <h5 style="color: var(--text-color)" class="card-header">Thanks for visiting COVID Watch!</h5>
          <div class="card-body">
            <h5 style="color: var(--text-color)" class="card-title">A little about us...</h5>
            <p class="card-text">Our website was founded on March 10, 2020 to help people respond better to COVID-19. We
              believe it is critical to keep everyone informed during this challenging time. We are committed to providing support to
              family, friends and the uOttawa community so that they can stay healthy. We wanted to create an accessible platform for
              students and the general public that has informative and educational news.</p>
            <p class="card-text">We inform people of the symptoms of COVID-19. We teach them how to protect
              themselves from being infected.</p>
            <h5 style="color: var(--text-color)" class="card-title">Our mission:</h5>
            <p class="card-text">To share the latest news about COVID-19, educate the public about healthy and safty protocols
              and reduce the spread of the virus.</p>
            <p class="card-text">We provide current news on the pandemic in Canada and around the globe. In addition,
              we closely monitor our data to ensure it's accurate and valid. We have developed newletters and regular
              updates for our users on the most recent travel regulations, Health Canada announcements
              and research regarding this matter.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6 col-lg-3 py-2">
        <div style="background-color: var(--background-color)" class="card h-100 border-secondary">
          <div class="card-body d-flex flex-column">
            <h4 style="color: var(--text-color)" class="card-header" style="margin-bottom: 10px;">Mitchyl Bateman</h4>
            <p class="card-text">Specialized in Business Technology Management.</p>
            <a href="#" id="mailbutton_mitch" class="card-text mt-auto"><small class="text-muted">Contact Mitchyl</small></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-2">
        <div style="background-color: var(--background-color)" class="card h-100 border-secondary">
          <div class="card-body d-flex flex-column">
            <h4 style="color: var(--text-color)" class="card-header" style="margin-bottom: 10px;">Romane Le Riguer</h4>
            <p class="card-text">Specialized in Business Technology Management.</p>
            <a href="#" id="mailbutton_romane" class="card-text mt-auto"><small class="text-muted">Contact Romane</small></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-2">
        <div style="background-color: var(--background-color)" class="card h-100 border-secondary">
          <div class="card-body d-flex flex-column">
            <h4 style="color: var(--text-color)" class="card-header" style="margin-bottom: 10px;">Henry Dumond Tadja</h4>
            <p class="card-text">Specialized in Business Technology Management, minor in Finance.</p>
            <a href="#" id="mailbutton_henry" class="card-text mt-auto"><small class="text-muted">Contact Henry</small></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-6 col-lg-3 py-2">
        <div style="background-color: var(--background-color)" class="card h-100 border-secondary">
          <div class="card-body d-flex flex-column">
            <h4 style="color: var(--text-color)" class="card-header" style="margin-bottom: 10px;">Ruijia Ma</h4>
            <p class="card-text">Specialized in Business Technology Management.</p>
            <a href="#" id="mailbutton_ruijia" class="card-text mt-auto"><small class="text-muted">Contact Ruijia</small></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-2">
        <div style="background-color: var(--background-color)" class="card h-100 border-secondary">
          <div class="card-body d-flex flex-column">
            <h4 style="color: var(--text-color)" class="card-header" style="margin-bottom: 10px;">Chloe Pan</h4>
            <p class="card-text">Specialized in International Development.</p>
            <a href="#" id="mailbutton_chloe" class="card-text mt-auto"><small class="text-muted">Contact Chloe</small></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 py-2">
        <div style="background-color: var(--background-color)" class="card h-100 border-secondary">
          <div class="card-body d-flex flex-column">
            <h4 style="color: var(--text-color)" class="card-header" style="margin-bottom: 10px;">Xiola Boswarva</h4>
            <p class="card-text">Specialized in Business Technology Management.</p>
            <a href="#" id="mailbutton_xiola" class="card-text mt-auto"><small class="text-muted">Contact Xiola</small></a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>

</html>
