@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateModel
@{
    ViewData["Title"] = "Create";
}
<html>

 <body>
    <form method="post">
        <table class="table">
            <tr>
                <td>Username: </td>
                <td><input type="text" id="txtUserName" name="Username"/></td>
            </tr>
            <tr>
                <td>Password </td>
                <td><input type="password" id="txtPassword" name="Password" /></td>
            </tr>
            <tr>
                <td>UID: </td>
                <td><input type="text" id="txtUID" name="UID" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" asp-page-handler="Submit"/></td>
            </tr>
        </table>
        <hr/>
    </form>
</body>

</html>