@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateModel
@{
    ViewData["Title"] = "Create";
}
<html>

 <body>
    <div class="container">
        <div class="card border-secondary">
            <div class="card">
            <div class="card-header"><b>This page allows you to view all the users in the database. Visit the Login page to create users.</b> </div>
            <div class="row">
            @foreach (var pers in Model.Users)
                {
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Username: @pers.Username</p>
                                <p class="card-text">Password: @pers.Password</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>
</body>

</html>