@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}
<html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-03JP1WSP3N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-03JP1WSP3N');
</script>

<body>
  <style>
    .card-title{
      text-align: center;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="card border-secondary"
          style="width: 21rem; margin-bottom: 7px; background-color: var(--background-color);">
          <img class="card-img-top" src="~/Images/backgroundcanada.jpg" alt="Card image cap" width="600px" height="300px">
          <div class="card-body d-flex flex-column">
            <h5 style="color: var(--text-color)" class="card-title">Track</h5>
            <p class="card-text">Access our online tools for tracking the spread in Canadian provinces.</p>
            <a asp-page="/Track" class="btn btn-primary mt-auto">Go to Tracking</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-secondary"
          style="width: 21rem; margin-bottom: 7px; background-color: var(--background-color);">
          <img class="card-img-top" src="~/Images/wash.jpg" alt="Card image cap" width="600px" height="300px">
          <div class="card-body d-flex flex-column">
            <h5 style="color: var(--text-color)" class="card-title">Prevention</h5>
            <p class="card-text">Learn how you can help stop the spread of the deadly COVID-19 virus.</p>
            <a asp-page="/Prevention" class="btn btn-primary mt-auto">Go to Prevention</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-secondary"
          style="width: 21rem; margin-bottom: 7px; background-color: var(--background-color);">
          <img class="card-img-top" src="~/Images/backgroundselfassesment.gif" alt="Card image cap" width="600px" height="300px">
          <div class="card-body d-flex flex-column">
            <h5 style="color: var(--text-color)" class="card-title">Self-Assessment</h5>
            <p class="card-text">Take the Government of Ontario's self-assessment.</p>
            <a href="https://covid-19.ontario.ca/self-assessment/severe-symptoms" class="btn btn-primary mt-auto">Take
              Self-Assessment</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-secondary"
          style="width: 21rem; margin-bottom: 7px; background-color: var(--background-color);">
          <img class="card-img-top" src="~/Images/backgroundwho.jpg" alt="Card image cap" width="600px" height="300px">
          <div class="card-body d-flex flex-column">
            <h5 style="color: var(--text-color)" class="card-title">Health Guidelines</h5>
            <p class="card-text">The latest WHO guidelines on COVID-19.</p>
            <a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance"
              class="btn btn-primary mt-auto">Go to WHO</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-secondary"
          style="width: 21rem; margin-bottom: 7px; background-color: var(--background-color);">
          <img class="card-img-top" src="~/Images/test.jpg" alt="Card image cap" width="600px" height="300px">
          <div class="card-body d-flex flex-column">
            <h5 style="color: var(--text-color)" class="card-title">COVID-19 testing</h5>
            <p class="card-text">Find local COVID-19 testing centres and hours.</p>
            <a asp-page="/Testing" class="btn btn-primary mt-auto">Locate testing centres</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card border-secondary"
          style="width: 21rem; margin-bottom: 7px; background-color: var(--background-color);">
          <img class="card-img-top" src="~/Images/Teampic.jpg" alt="Card image cap" width="600px" height="300px">
          <div class="card-body d-flex flex-column">
            <h5 style="color: var(--text-color)" class="card-title">About Us</h5>
            <p class="card-text">Learn about our team and our initiative.</p>
            <a asp-page="/About" class="btn btn-primary mt-auto">Learn about us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>
