@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>

<body>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <img class="card-img-top" src="~/Images/canada_new.png" alt="Card image cap" width="200px" height="300px">
          <div class="card-body">
            <h5 class="card-title">Track</h5>
            <p class="card-text">Access our online tools for tracking the spread.</p>
            <a asp-page="/Track" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <img class="card-img-top" src="~/Images/mask.png" alt="Card image cap" width="200px" height="300px">
          <div class="card-body">
            <h5 class="card-title">Prevention</h5>
            <p class="card-text">Learn how you can help stop the spread of the deadly COVID-19 virus.</p>
            <a asp-page="/Prevention" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <img class="card-img-top" src="~/Images/rules.png" alt="Card image cap" width="200px" height="300px">
          <div class="card-body">
            <h5 class="card-title">Self-Assessment</h5>
            <p class="card-text">Take the Government of Ontario's self-assessment.</p>
            <a href="https://covid-19.ontario.ca/self-assessment/severe-symptoms" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
       <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <img class="card-img-top" src="~/Images/guideline.jpg" alt="Card image cap" width="200px" height="300px">
          <div class="card-body">
            <h5 class="card-title">Health Guidelines</h5>
            <p class="card-text">The latest WHO guidelines on COVID-19.</p>
            <a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <img class="card-img-top" src="~/Images/test.jpg" alt="Card image cap" width="200px" height="300px">
          <div class="card-body">
            <h5 class="card-title">COVID-19 testing</h5>
            <p class="card-text">Find local COVID-19 testing centres and hours.</p>
            <a asp-page="/Testing" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="card" style="width: 18rem; margin-bottom: 10px;">
          <img class="card-img-top" src="~/Images/Teampic.jpg" alt="Card image cap" width="200px" height="300px">
          <div class="card-body">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">Learn about our team and our initiative.</p>
            <a asp-page="/About" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>    
    </div>
  </div>
</body>

</html>
