@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>

<body>
  <div class="container">
    <div class="nav-wrapper">
    </div>

    <div class="content-wrapper">
      <div class="portfolio-items-wrapper">

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(image/backgroundcanada.jpg)"></div>

          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <a asp-page="/Track" class="btn btn-primary">
                <img src="~/Images/logograph.png" alt="">
              </a>
            </div>

            <div class="subtitle">Access our online tools for tracking the spread of the COVID-19 virus in Canada</div>
          </div>
        </div>

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(image/wash.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <a asp-page="/Prevention" class="btn btn-primary">
                <img src="~/Images/hand.png" alt="">
              </a>
            </div>

            <div class="subtitle">Learn how you can help stop the spread of the deadly COVID-19 virus.</div>
          </div>
        </div>

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(image/backgroundselfassesment.gif)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <a href="https://covid-19.ontario.ca/self-assessment/severe-symptoms" class="btn btn-primary">
                <img src="~/Images/logochecklist.png" alt="">
              </a>
            </div>

            <div class="subtitle">Take the Government of Ontario's self-assessment for the COVID-19 virus</div>
          </div>
        </div>

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(image/backgroundwho.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <a href="https://www.who.int/news-room/feature-stories/detail/a-guide-to-who-s-guidance"
                class="btn btn-primary">
                <img src="~/Images/logomask.png" alt="">
              </a>
            </div>

            <div class="subtitle">Learn about the latest WHO health guidelines on COVID-19</div>
          </div>
        </div>

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(image/room.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">
              <a asp-page="/Testing" class="btn btn-primary">
                <img src="~/Images/logotestingcenter.png" alt="">
              </a>
            </div>

            <div class="subtitle">Find local COVID-19 testing centres and hours in Canada</div>
          </div>
        </div>

        <div class="portfolio-item-wrapper">
          <div class="portfolio-img-background" style="background-image:url(image/backgroundteam.jpg)"></div>
          <div class="img-text-wrapper">
            <div class="logo-wrapper">à
              <a asp-page="/About" class="btn btn-primary">
                <img src="~/Images/logoteam.png" alt="">
              </a>
            </div>

            <div class="subtitle">Learn about our team members and our initiative to help</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>

<script>
  const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper');

  portfolioItems.forEach(portfolioItem => {
    portfolioItem.addEventListener('mouseover', () => {
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.add('image-blur');
    });

    portfolioItem.addEventListener('mouseout', () => {
      console.log(portfolioItem.childNodes[1].classList)
      portfolioItem.childNodes[1].classList.remove('image-blur');
    });
  });

</script>

</html>
