@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
} 
<html>
    <head>
        <script type='text/javascript'>
            function coming_soon()
            {
                alert("Coming soon!")
            }
    
        </script>
    </head>
    <body class="body">
            <form>
                <div class="inputform">
                    <label class="center_text">Enter your account name:</label>
                    <input id="input_email_adress" name="email_adress" type="text" placeholder="Enter Email Address" required/></br>

                    <label class="center_text">Enter your password:</label>
                    <input id="input_password" name="password" type="password" required/></br>
 
                    
                    <button type="submit" class="login">Login</button>
                <div class="remember_me">
                    <input type="checkbox" checked="checked"/>
                    <label for="checkbox"> Remember me</label>
                <a onclick="coming_soon()" class="forgot_password"> Forgot password? </a> <a onclick="coming_soon()" class="forgot_password"> Don't have an account? Click here to register. </a> 
                </div>
                </div>
            </form>
    </body>
</html>