@page
@model TrackModel
@{
    ViewData["Title"] = "Tracking";
}
<h1>@ViewData["Title"]</h1>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-03JP1WSP3N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-03JP1WSP3N');
</script>

<body class="body">
    <div class="body">
        <br>
        <script>
            function SelectProvince() {
                var mylist = document.getElementById("myList");
                var MyProvince = mylist.options[mylist.selectedIndex].text;
                if (MyProvince == "Alberta") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Alberta there are:</b><br>146,885 total cases<br>7,922 active cases<br>136,980 cases recovered<br>1,983 deaths<br>3,666,436 total tests performed</p>";
                } else if (MyProvince == "British Columbia") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In British Columbia there are:</b><br>98,192 total cases<br>7,015 active cases<br>89,722 cases recovered<br>1,455 deaths<br>2,161,867 total tests performed</p>";
                } else if (MyProvince == "Manitoba") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Manitoba there are:</b><br>33,975 total cases<br>1,177 active cases<br>31,864 cases recovered<br>934 deaths<br>585,997 total tests performed</p>";
                } else if (MyProvince == "New Brunswick") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In New Brunswick there are:</b><br>1,588 total cases<br>121 active cases<br>1,437 cases recovered<br>30 deaths<br>261,613 total tests performed</p>";
                } else if (MyProvince == "Newfoundland and Labrador") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Newfoundland and Labrador there are:</b><br>1,016 total cases<br>6 active cases<br>1,004 cases recovered<br>6 deaths<br>219,263 total tests performed</p>";
                } else if (MyProvince == "Northwest Territories") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Northwest Territories there are:</b><br>42 total cases<br>0 active case<br>42 cases recovered<br>0 deaths<br>15,887 total tests performed</p>";
                } else if (MyProvince == "Nova Scotia") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Nova Scotia there are:</b><br>1,711 total cases<br>24 active cases<br>1,621 cases recovered<br>66 deaths<br>417,471 total tests performed</p>";
                } else if (MyProvince == "Nunavut") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Nunavut there are:</b><br>395 total cases<br>0 active cases<br>391 cases recovered<br>4 deaths<br>9,809 total tests performed</p>";
                } else if (MyProvince == "Ontario") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Ontario there are:</b><br>345,234 total cases<br>18,965 active cases<br>318,932 cases recovered<br>7,337 deaths<br>12,276,646 total tests performed</p>";
                } else if (MyProvince == "Prince Edward Island") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Prince Edward Island there are:</b><br>156 total cases<br>12 active cases<br>144 cases recovered<br>0 deaths<br>124,004 total tests performed</p>";
                } else if (MyProvince == "Quebec") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Quebec there are:</b><br>309,202 total cases<br>7,987 active cases<br>290,564 cases recovered<br>10,651 deaths<br>7,063,594 total tests performed</p>";
                } else if (MyProvince == "Saskatchewan") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Saskatchewan there are:</b><br>33,233 total cases<br>1,978 active cases<br>30,822 cases recovered<br>433 deaths<br>655,188 total tests performed</p>";
                } else if (MyProvince == "Yukon") {
                    document.getElementById("MyInfo").innerHTML = "<br><b><p>In Yukon there are:</b><br>73 total cases<br>1 active cases<br>71 cases recovered<br>1 deaths<br>8,529 total tests performed</p>";
                }
            }
        </script>
        <form>
            <b>
                <p> Select your province or territory to get more information: </p>
            </b>
            <select id="myList" onchange="SelectProvince()">
                <option> ---Select Province or Territory--- </option>
                <option> Alberta</option>
                <option> British Columbia </option>
                <option> Manitoba </option>
                <option> New Brunswick </option>
                <option> Newfoundland and Labrador </option>
                <option> Northwest Territories </option>
                <option> Nova Scotia </option>
                <option> Nunavut </option>
                <option> Ontario </option>
                <option> Prince Edward Island </option>
                <option> Quebec </option>
                <option> Saskatchewan </option>
                <option> Yukon </option>
            </select>
        </form>
        <p>Please note that these provincial and territorial updates are as of March 29th 2021 at 7pm EDT. </p>
        <div id="MyInfo">

        </div>
        <br>
        <p>This chart is provided by <button class="clickable-element"
                onclick="window.open('https://resources-covid19canada.hub.arcgis.com/pages/media')" target="_blank">Esri
                Canada.</button></label></p></br>
        <div class="chart">
            <!-- <iframe src="https://covid19canada.maps.arcgis.com/apps/opsdashboard/index.html#/cfbd8528810042d38d4e184e6731f2f9" height="550" width="100%"></iframe>
             <iframe src="https://covid19canada.maps.arcgis.com/apps/opsdashboard/index.html#/2772c0489f43411ca9493fc5888fbe67" height="550" width="100%"></iframe> 
               <iframe src="https://covid19canada.maps.arcgis.com/apps/Minimalist/index.html?appid=b3baccb0f30e4516b8e64009b3383f55" height="500" width="100%"></iframe>-->
            <iframe
                src="https://covid19canada.maps.arcgis.com/apps/Minimalist/index.html?appid=b3baccb0f30e4516b8e64009b3383f55"
                height="500" width="100%"></iframe>
        </div>
    </div>
</body>
